@import 'nib'
@import 'nib/gradients'

html, body
	height 100%
	font-family trebuchet ms
	padding 0px
	margin 0px

#maindiv
	background linear-gradient(bottom, 1% blue, 20% black, #002)
	height 100%
	position relative
*
	-webkit-box-sizing border-box

a
	text-decoration none

.clearfix
	clearfix()
