border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments

shadow()
	-moz-box-shadow arguments
	-webkit-box-shadow arguments
	box-shadow arguments


body
	font-family trebuchet ms
	padding 0px
	margin 0px

a
	text-decoration none

